[submodule "symforce"]
	path = symforce
	url = https://github.com/symforce-org/symforce.git
[submodule "ceres-solver"]
	path = ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "gtsam"]
	path = gtsam
	url = https://github.com/dvorak0/gtsam.git
